*.DS_STORE

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Aa]rtifacts/
[Cc]odeCoverage/
Packages/packages-lock.json
Assets/Editor/Editor/
UserSettings/

*/bin/*
*/jar/*
*.pyc
.settings/
local.properties
proguard/
*.swo
*.swp
reports/
*.iml
.idea/
.gradle
*/build/*
!build/*.unitypackage
unity-classes.jar
*.meta