<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.urbanairship.unityplugin"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <!-- Urban Airship Plugin -->
        <receiver
            android:name="com.urbanairship.unityplugin.UnityAirshipReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.urbanairship.push.CHANNEL_UPDATED"/>
                <action android:name="com.urbanairship.push.OPENED"/>
                <action android:name="com.urbanairship.push.DISMISSED"/>
                <action android:name="com.urbanairship.push.RECEIVED"/>

                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.urbanairship.autopilot"
            android:value="com.urbanairship.unityplugin.UnityAutopilot"/>

        <activity android:name="com.urbanairship.unityplugin.CustomMessageCenterActivity"
                  android:theme="@style/MessageCenterTheme"
                  android:label="@string/ua_message_center_title">


            <intent-filter>
                <action android:name="com.urbanairship.VIEW_RICH_PUSH_INBOX" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity android:name="com.urbanairship.unityplugin.CustomMessageActivity"
                  android:theme="@style/MessageCenterTheme">

            <intent-filter>
                <action android:name="com.urbanairship.VIEW_RICH_PUSH_MESSAGE" />
                <data android:scheme="message"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
    </application>

</manifest>