<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.urbanairship.unityplugin">

    <application>

        <meta-data
            android:name="com.urbanairship.autopilot"
            android:value="com.urbanairship.unityplugin.UnityAutopilot" />

        <activity
            android:name="com.urbanairship.unityplugin.CustomMessageCenterActivity"
            android:exported="false"
            android:label="@string/ua_message_center_title"
            android:theme="@style/MessageCenterTheme">


            <intent-filter>
                <action android:name="com.urbanairship.VIEW_RICH_PUSH_INBOX" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.urbanairship.unityplugin.CustomMessageActivity"
            android:exported="false"
            android:theme="@style/MessageCenterTheme">

            <intent-filter>
                <action android:name="com.urbanairship.VIEW_RICH_PUSH_MESSAGE" />
                <data android:scheme="message" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
    </application>

</manifest>